
 html { 
    height:100%;
}
 body {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, green, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, green, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, green, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, green, white); /* Standard syntax */
  min-height:100%;
}
.container{

}
h2{
	text-align: center;
	font-weight: bold!important;
	padding-bottom: 10px;
	width: 100%;
	margin-top:9%!important;
}
h3{
	margin-top:0px!important;
	font-weight: bold!important;
	text-align:center;
	border-bottom: dashed 1px black!important;
	padding-bottom: 9px!important;
}
header{
	width:100%!important;
	float:left;
	background: #e6ffcc;
}
.oferta{
	border:solid 1px black;
	margin-right:3%;
	padding: 1%;
	background: #e6ffcc;
	border-radius: 10px;
}

.welcome{
	font-weight: bold;
	font-size:1.9em;
	width:88%;
	padding:1%;
	float:left;
}
.tytul{
	font-weight: bold;
}

.hideOfert{
	display:none;
}
.firstClass{
	display:block;
}
.col-sm-4{
	width:30%!important;
}

.clocker{
	display:block;
	background: white;
	width: 9%;
	float:left;
	margin-top:1%!important;
}
.clocker span{
	font-weight: bold;
	font-size:1.5em;
}

.pageNumber{
	background-color: white;
	position:fixed;
	bottom:10%;
	font-weight: bold;

}